Repository haskell/cabal, pull requests merged in 2018-08, with the labels that each got.

#5478 Set abiDepends field in IPI to []
  Cabal/ChangeLog.md
  Cabal/Distribution/Simple/Register.hs
Labels: attention: needs-backport

#5492 Cabal: Allow binary 0.10
  Cabal/Cabal.cabal
Labels: attention: needs-backport

#5475 Add --only-explicit-packages to restrict the solver to a closed set.
  Cabal/doc/nix-local-build.rst
  cabal-install/Distribution/Client/Config.hs
  cabal-install/Distribution/Client/Dependency.hs
  cabal-install/Distribution/Client/Fetch.hs
  cabal-install/Distribution/Client/Freeze.hs
  cabal-install/Distribution/Client/Install.hs
  cabal-install/Distribution/Client/ProjectConfig.hs
  cabal-install/Distribution/Client/ProjectConfig/Legacy.hs
  cabal-install/Distribution/Client/ProjectConfig/Types.hs
  cabal-install/Distribution/Client/ProjectPlanning.hs
  cabal-install/Distribution/Client/Setup.hs
  cabal-install/Distribution/Solver/Modular.hs
  cabal-install/Distribution/Solver/Modular/Message.hs
  cabal-install/Distribution/Solver/Modular/Preference.hs
  cabal-install/Distribution/Solver/Modular/Solver.hs
  cabal-install/Distribution/Solver/Modular/Tree.hs
  cabal-install/Distribution/Solver/Types/Settings.hs
  cabal-install/changelog
  cabal-install/tests/UnitTests/Distribution/Client/ProjectConfig.hs
  cabal-install/tests/UnitTests/Distribution/Solver/Modular/DSL.hs
  cabal-install/tests/UnitTests/Distribution/Solver/Modular/DSL/TestCaseUtils.hs
  cabal-install/tests/UnitTests/Distribution/Solver/Modular/QuickCheck.hs
  cabal-install/tests/UnitTests/Distribution/Solver/Modular/Solver.hs
  cabal-testsuite/PackageTests/RequireExplicit/FlagInProject/a.cabal
  cabal-testsuite/PackageTests/RequireExplicit/FlagInProject/cabal.project
  cabal-testsuite/PackageTests/RequireExplicit/FlagInProject/cabal.test.hs
  cabal-testsuite/PackageTests/RequireExplicit/MultiPkg/a/a.cabal
  cabal-testsuite/PackageTests/RequireExplicit/MultiPkg/b/b.cabal
  cabal-testsuite/PackageTests/RequireExplicit/MultiPkg/cabal.project
  cabal-testsuite/PackageTests/RequireExplicit/MultiPkg/cabal.test.hs
  cabal-testsuite/PackageTests/RequireExplicit/repo/other-lib-1.0/other-lib.cabal
  cabal-testsuite/PackageTests/RequireExplicit/repo/some-exe-1.0/some-exe.cabal
  cabal-testsuite/PackageTests/RequireExplicit/repo/some-lib-1.0/some-lib.cabal
Labels: cabal-install: solver

#5496 `--haddock-for-hackage` works with older Haddock
  Cabal/Distribution/Simple/Haddock.hs
  cabal-install/Distribution/Client/Setup.hs
Labels: cabal-install: cmd/haddock

#5493 Fix x-package references with --haddock-for-hackage
  Cabal/Distribution/Simple/Haddock.hs
Labels: Cabal: cmd/haddock, attention: needs-backport, cabal-install: cmd/haddock, type: bug

#5510 Solver: Improve handling of failures involving whole packages, such as unknown packages.
  cabal-install/Distribution/Solver/Modular/Builder.hs
  cabal-install/Distribution/Solver/Modular/Explore.hs
  cabal-install/Distribution/Solver/Modular/Message.hs
  cabal-install/Distribution/Solver/Modular/Tree.hs
  cabal-install/tests/UnitTests/Distribution/Solver/Modular/Solver.hs
Labels: cabal-install: solver

#5512 Don't throw away any program args in new-style commands
  cabal-install/Distribution/Client/ProjectConfig/Legacy.hs
Labels: cabal-install: nix-local-build
