Repository haskell/cabal, pull requests merged in 2018-10, with the labels that each got.

#5609 Check existence of packagedb before dumping it
  Cabal/Distribution/Compat/Directory.hs
  Cabal/Distribution/Simple/Configure.hs
Labels: cabal-install: nix-local-build

#5613 Datadir env var generation for vcs and tarballs
  cabal-install/Distribution/Client/CmdRun.hs
  cabal-install/Distribution/Client/ProjectBuilding.hs
  cabal-install/Distribution/Client/ProjectPlanning.hs
  cabal-install/Distribution/Client/ProjectPlanning/Types.hs
Labels: cabal-install: nix-local-build

#5604 Do register monolithic packages if they contain a buildable pub-lib
  cabal-install/Distribution/Client/ProjectPlanning/Types.hs
Labels: blocked: action-required, priority: high :fire:

#5633 Fix monolithic inplace build tool PATH
  cabal-install/Distribution/Client/ProjectPlanning.hs
Labels: cabal-install: nix-local-build

#5638 new-install: error on existing symlink, overwrite option
  cabal-install/Distribution/Client/CmdInstall.hs
  cabal-install/Distribution/Client/Install.hs
  cabal-install/Distribution/Client/InstallSymlink.hs
Labels: cabal-install: nix-local-build, priority: high :fire:
