Repository haskell/cabal, pull requests merged in 2018-06, with the labels that each got.

#5337 Solver: Check whether components are buildable in the current environment.
  cabal-install/Distribution/Solver/Modular.hs
  cabal-install/Distribution/Solver/Modular/Index.hs
  cabal-install/Distribution/Solver/Modular/IndexConversion.hs
  cabal-install/Distribution/Solver/Modular/Message.hs
  cabal-install/Distribution/Solver/Modular/Tree.hs
  cabal-install/Distribution/Solver/Modular/Validate.hs
  cabal-install/tests/UnitTests/Distribution/Solver/Modular/Solver.hs
  cabal-testsuite/PackageTests/NewBuild/T3978/cabal.out
Labels: cabal-install: solver

#5357 [WIP!] cabal new-clean
  Cabal/doc/nix-local-build.rst
  cabal-install/Distribution/Client/CmdClean.hs
  cabal-install/cabal-install.cabal
  cabal-install/changelog
  cabal-install/main/Main.hs
Labels: cabal-install: nix-local-build

#5385 Added documentation for Backpack-related fields.
  Cabal/doc/developing-packages.rst
Labels: documentation
