Repository haskell/cabal, pull requests merged in 2018-11, with the labels that each got.

#5652 Filter out ambiguous builddir flag
  cabal-install/Distribution/Client/CmdInstall.hs
Labels: cabal-install: nix-local-build

#5662 Make store path absolute
  cabal-install/Distribution/Client/CmdInstall.hs
  cabal-install/Distribution/Client/DistDirLayout.hs
  cabal-install/Distribution/Client/ProjectOrchestration.hs
Labels: cabal-install: nix-local-build

#5666 Tell the user about --lib when new-installing a package with no exes
  cabal-install/Distribution/Client/CmdInstall.hs
Labels: cabal-install: nix-local-build

#5671 Don't install anything if --dry is used
  cabal-install/Distribution/Client/CmdInstall.hs
Labels: cabal-install: nix-local-build

#5589 Cleans up the `-Werror` check, adds GHC 8.6.1 support and also filters RTS flags, fixing #5575
  Cabal/Distribution/Simple/Program/GHC.hs
Labels: priority: high :fire:

#5674 Warn on new-install failure (temp hotfix for #5641)
  cabal-install/Distribution/Client/CmdInstall.hs
Labels: cabal-install: nix-local-build

#5675 Always transliterate coding failures for stdout and stderr
  cabal-install/main/Main.hs
Labels: type: bug

#5592 Compile profiling library for use with GHCi
  Cabal/Distribution/Simple/GHC.hs
  Cabal/Distribution/Simple/GHC/Internal.hs
  Cabal/Distribution/Simple/GHCJS.hs
Labels: Cabal: cmd/build, Cabal: cmd/copy

#5659 Add 'optional-target' field to plan.json
  cabal-install/Distribution/Client/ProjectPlanOutput.hs
  cabal-install/Distribution/Client/ProjectPlanning.hs
  cabal-install/Distribution/Client/ProjectPlanning/Types.hs
  cabal-install/Distribution/Solver/Types/ComponentDeps.hs
Labels: attention: needs-backport, cabal-install: nix-local-build, priority: high :fire:

#5455 Port 'TestFlags' to 'new-test'
  Cabal/Distribution/Simple/Setup.hs
  cabal-install/Distribution/Client/CmdBench.hs
  cabal-install/Distribution/Client/CmdBuild.hs
  cabal-install/Distribution/Client/CmdConfigure.hs
  cabal-install/Distribution/Client/CmdExec.hs
  cabal-install/Distribution/Client/CmdFreeze.hs
  cabal-install/Distribution/Client/CmdHaddock.hs
  cabal-install/Distribution/Client/CmdInstall.hs
  cabal-install/Distribution/Client/CmdLegacy.hs
  cabal-install/Distribution/Client/CmdRepl.hs
  cabal-install/Distribution/Client/CmdRun.hs
  cabal-install/Distribution/Client/CmdTest.hs
  cabal-install/Distribution/Client/CmdUpdate.hs
  cabal-install/Distribution/Client/Config.hs
  cabal-install/Distribution/Client/Install.hs
  cabal-install/Distribution/Client/ProjectConfig/Legacy.hs
  cabal-install/Distribution/Client/ProjectConfig/Types.hs
  cabal-install/Distribution/Client/ProjectPlanning.hs
  cabal-install/Distribution/Client/ProjectPlanning/Types.hs
  cabal-install/Distribution/Client/Sandbox.hs
  cabal-install/Distribution/Client/Setup.hs
  cabal-install/changelog
  cabal-install/main/Main.hs
  cabal-install/tests/UnitTests/Distribution/Client/ArbitraryInstances.hs
  cabal-install/tests/UnitTests/Distribution/Client/ProjectConfig.hs
Labels: attention: needs-review, cabal-install: nix-local-build

#5692 Fix erroneous "no exes" warning on lib+exe packages
  cabal-install/Distribution/Client/CmdInstall.hs
Labels: cabal-install: nix-local-build
