Repository haskell/cabal, pull requests merged in 2018-12, with the labels that each got.

#5753 Fix `--with-compiler` failing to locate compiler on Windows
  Cabal/Distribution/Simple/Program/Find.hs
Labels: platform: windows, type: bug

#5680 Solver: Improve error message by finding a minimal conflict set (issue #5647).
  Cabal/doc/nix-local-build.rst
  cabal-install/Distribution/Client/Config.hs
  cabal-install/Distribution/Client/Dependency.hs
  cabal-install/Distribution/Client/Fetch.hs
  cabal-install/Distribution/Client/Freeze.hs
  cabal-install/Distribution/Client/Install.hs
  cabal-install/Distribution/Client/ProjectConfig.hs
  cabal-install/Distribution/Client/ProjectConfig/Legacy.hs
  cabal-install/Distribution/Client/ProjectConfig/Types.hs
  cabal-install/Distribution/Client/ProjectPlanning.hs
  cabal-install/Distribution/Client/Setup.hs
  cabal-install/Distribution/Solver/Modular.hs
  cabal-install/Distribution/Solver/Modular/ConflictSet.hs
  cabal-install/Distribution/Solver/Modular/Log.hs
  cabal-install/Distribution/Solver/Modular/Solver.hs
  cabal-install/Distribution/Solver/Types/Settings.hs
  cabal-install/changelog
  cabal-install/solver-dsl/UnitTests/Distribution/Solver/Modular/DSL.hs
  cabal-install/tests/UnitTests/Distribution/Client/ProjectConfig.hs
  cabal-install/tests/UnitTests/Distribution/Solver/Modular/DSL/TestCaseUtils.hs
  cabal-install/tests/UnitTests/Distribution/Solver/Modular/QuickCheck.hs
  cabal-install/tests/UnitTests/Distribution/Solver/Modular/Solver.hs
Labels: cabal-install: solver

#5815 Add LibraryVisibility to InstalledPackageInfo
  Cabal/ChangeLog.md
  Cabal/Distribution/Simple/Register.hs
  Cabal/Distribution/Types/InstalledPackageInfo.hs
  Cabal/Distribution/Types/InstalledPackageInfo/FieldGrammar.hs
  Cabal/Distribution/Types/InstalledPackageInfo/Lens.hs
  Cabal/tests/ParserTests/ipi/Includes2.expr
  Cabal/tests/ParserTests/ipi/internal-preprocessor-test.expr
  Cabal/tests/ParserTests/ipi/issue-2276-ghc-9885.expr
  Cabal/tests/ParserTests/ipi/transformers.expr
Labels: Cabal: other
