Repository haskell/cabal, pull requests merged in 2018-02, with the labels that each got.

#5133 Don't ignore goal order parameter when generating summarized solver log.
  cabal-install/Distribution/Solver/Modular.hs
  cabal-install/tests/UnitTests/Distribution/Solver/Modular/Solver.hs
Labels: cabal-install: solver

#5135 Add more new-freeze integration tests.
  cabal-testsuite/PackageTests/NewFreeze/BuildTools/cabal.project
  cabal-testsuite/PackageTests/NewFreeze/BuildTools/my-local-package.cabal
  cabal-testsuite/PackageTests/NewFreeze/BuildTools/new_freeze.out
  cabal-testsuite/PackageTests/NewFreeze/BuildTools/new_freeze.test.hs
  cabal-testsuite/PackageTests/NewFreeze/BuildTools/repo/my-build-tool-dep-1.0/my-build-tool-dep.cabal
  cabal-testsuite/PackageTests/NewFreeze/BuildTools/repo/my-build-tool-dep-2.0/my-build-tool-dep.cabal
  cabal-testsuite/PackageTests/NewFreeze/BuildTools/repo/my-build-tool-dep-3.0/my-build-tool-dep.cabal
  cabal-testsuite/PackageTests/NewFreeze/BuildTools/repo/my-library-dep-1.0/my-library-dep.cabal
  cabal-testsuite/PackageTests/NewFreeze/Flags/cabal.project
  cabal-testsuite/PackageTests/NewFreeze/Flags/my-local-package.cabal
  cabal-testsuite/PackageTests/NewFreeze/Flags/new_freeze.out
  cabal-testsuite/PackageTests/NewFreeze/Flags/new_freeze.test.hs
  cabal-testsuite/PackageTests/NewFreeze/Flags/repo/false-dep-1.0/false-dep.cabal
  cabal-testsuite/PackageTests/NewFreeze/Flags/repo/my-library-dep-1.0/my-library-dep.cabal
  cabal-testsuite/PackageTests/NewFreeze/Flags/repo/true-dep-1.0/true-dep.cabal
  cabal-testsuite/PackageTests/NewFreeze/FreezeFile/Main.hs
  cabal-testsuite/PackageTests/NewFreeze/FreezeFile/cabal.project
  cabal-testsuite/PackageTests/NewFreeze/FreezeFile/my-local-package.cabal
  cabal-testsuite/PackageTests/NewFreeze/FreezeFile/new_freeze.out
  cabal-testsuite/PackageTests/NewFreeze/FreezeFile/new_freeze.test.hs
  cabal-testsuite/PackageTests/NewFreeze/FreezeFile/repo/my-library-dep-1.0/MyLibModule.hs
  cabal-testsuite/PackageTests/NewFreeze/FreezeFile/repo/my-library-dep-1.0/my-library-dep.cabal
  cabal-testsuite/PackageTests/NewFreeze/FreezeFile/repo/my-library-dep-2.0/MyLibModule.hs
  cabal-testsuite/PackageTests/NewFreeze/FreezeFile/repo/my-library-dep-2.0/my-library-dep.cabal
Labels: cabal-install: cmd/freeze

#5142 Apply global config to all packages
  cabal-install/Distribution/Client/ProjectConfig/Legacy.hs
Labels: cabal-install: nix-local-build

#5143 Make --enable-documentation work
  cabal-install/Distribution/Client/ProjectBuilding.hs
  cabal-install/Distribution/Client/ProjectConfig/Legacy.hs
  cabal-install/Distribution/Client/ProjectPlanning.hs
Labels: cabal-install: nix-local-build

#5154 Solver cleanup
  cabal-install/Distribution/Solver/Modular.hs
  cabal-install/Distribution/Solver/Modular/ConflictSet.hs
  cabal-install/Distribution/Solver/Modular/Dependency.hs
  cabal-install/Distribution/Solver/Modular/Explore.hs
Labels: cabal-install: solver

#5157 bootstrap: Pass SCOPE_OF_INSTALL to ghc when building Setup.hs
  cabal-install/bootstrap.sh
Labels: cabal-install: bootstrap
