Repository haskell/cabal, pull requests merged in 2019-03, with the labels that each got.

#5804 Fix corrupted config file header for non-ASCII package names
  Cabal/ChangeLog.md
  Cabal/Distribution/Simple/Configure.hs
  Cabal/Distribution/Simple/Utils.hs
Labels: attention: needs-test

#5870 bindir-method/install-method, installdir, new-install flags in SavedConfig -- 3.0 version
  Cabal/doc/nix-local-build.rst
  cabal-install/Distribution/Client/CmdBench.hs
  cabal-install/Distribution/Client/CmdBuild.hs
  cabal-install/Distribution/Client/CmdConfigure.hs
  cabal-install/Distribution/Client/CmdExec.hs
  cabal-install/Distribution/Client/CmdFreeze.hs
  cabal-install/Distribution/Client/CmdHaddock.hs
  cabal-install/Distribution/Client/CmdInstall.hs
  cabal-install/Distribution/Client/CmdInstall/ClientInstallFlags.hs
  cabal-install/Distribution/Client/CmdRepl.hs
  cabal-install/Distribution/Client/CmdRun.hs
  cabal-install/Distribution/Client/CmdTest.hs
  cabal-install/Distribution/Client/CmdUpdate.hs
  cabal-install/Distribution/Client/Config.hs
  cabal-install/Distribution/Client/InstallSymlink.hs
  cabal-install/Distribution/Client/ProjectConfig/Legacy.hs
  cabal-install/Distribution/Client/ProjectConfig/Types.hs
  cabal-install/Distribution/Client/ProjectPlanning.hs
  cabal-install/Distribution/Client/Setup.hs
  cabal-install/README.md
  cabal-install/bootstrap.sh
  cabal-install/cabal-install.cabal
  cabal-install/cabal-install.cabal.pp
  cabal-install/changelog
  cabal-install/tests/UnitTests/Distribution/Client/ProjectConfig.hs
Labels: cabal-install: nix-local-build, priority: high :fire:

#5869 bindir-method, copy-bindir, new-install flags in SavedConfig -- 2.4 version
  Cabal/doc/nix-local-build.rst
  cabal-install/Distribution/Client/CmdBench.hs
  cabal-install/Distribution/Client/CmdBuild.hs
  cabal-install/Distribution/Client/CmdConfigure.hs
  cabal-install/Distribution/Client/CmdExec.hs
  cabal-install/Distribution/Client/CmdFreeze.hs
  cabal-install/Distribution/Client/CmdHaddock.hs
  cabal-install/Distribution/Client/CmdInstall.hs
  cabal-install/Distribution/Client/CmdInstall/ClientInstallFlags.hs
  cabal-install/Distribution/Client/CmdRepl.hs
  cabal-install/Distribution/Client/CmdRun.hs
  cabal-install/Distribution/Client/CmdTest.hs
  cabal-install/Distribution/Client/CmdUpdate.hs
  cabal-install/Distribution/Client/Config.hs
  cabal-install/Distribution/Client/InstallSymlink.hs
  cabal-install/Distribution/Client/ProjectConfig/Legacy.hs
  cabal-install/Distribution/Client/ProjectConfig/Types.hs
  cabal-install/Distribution/Client/ProjectPlanning.hs
  cabal-install/cabal-install.cabal
  cabal-install/cabal-install.cabal.pp
  cabal-install/changelog
  cabal-install/tests/UnitTests/Distribution/Client/ProjectConfig.hs
Labels: cabal-install: nix-local-build, priority: high :fire:

#5929 Add bkpcabal01 regression test-case
  cabal-install/Distribution/Client/ProjectPlanning.hs
  cabal-install/Distribution/Client/ProjectPlanning/Types.hs
  cabal-testsuite/PackageTests/Backpack/bkpcabal01/Main.hs
  cabal-testsuite/PackageTests/Backpack/bkpcabal01/bkpcabal01.cabal
  cabal-testsuite/PackageTests/Backpack/bkpcabal01/cabal.out
  cabal-testsuite/PackageTests/Backpack/bkpcabal01/cabal.project
  cabal-testsuite/PackageTests/Backpack/bkpcabal01/cabal.test.hs
  cabal-testsuite/PackageTests/Backpack/bkpcabal01/impl/H.hs
  cabal-testsuite/PackageTests/Backpack/bkpcabal01/impl/I.hs
  cabal-testsuite/PackageTests/Backpack/bkpcabal01/p/H.hsig
  cabal-testsuite/PackageTests/Backpack/bkpcabal01/p/P.hs
  cabal-testsuite/PackageTests/Backpack/bkpcabal01/q/I.hsig
  cabal-testsuite/PackageTests/Backpack/bkpcabal01/q/Q.hs
Labels: priority: high :fire:, type: bug
