Repository haskell/cabal, pull requests merged in 2020-01, with the labels that each got.

#6473 Doc: v2-building every package requires "all" [ci skip]
  Cabal/doc/nix-local-build.rst
Labels: attention: needs-backport

#5918 Solver: Pair conflict set variables with more information about conflicts (issue #4805).
  Cabal/doc/nix-local-build.rst
  cabal-install/Distribution/Client/Config.hs
  cabal-install/Distribution/Client/Dependency.hs
  cabal-install/Distribution/Client/Fetch.hs
  cabal-install/Distribution/Client/Freeze.hs
  cabal-install/Distribution/Client/Install.hs
  cabal-install/Distribution/Client/ProjectConfig.hs
  cabal-install/Distribution/Client/ProjectConfig/Legacy.hs
  cabal-install/Distribution/Client/ProjectConfig/Types.hs
  cabal-install/Distribution/Client/ProjectPlanning.hs
  cabal-install/Distribution/Client/Setup.hs
  cabal-install/Distribution/Solver/Modular/Builder.hs
  cabal-install/Distribution/Solver/Modular/ConflictSet.hs
  cabal-install/Distribution/Solver/Modular/Dependency.hs
  cabal-install/Distribution/Solver/Modular/Explore.hs
  cabal-install/Distribution/Solver/Modular/Linking.hs
  cabal-install/Distribution/Solver/Modular/Message.hs
  cabal-install/Distribution/Solver/Modular/Preference.hs
  cabal-install/Distribution/Solver/Modular/Solver.hs
  cabal-install/Distribution/Solver/Modular/Validate.hs
  cabal-install/Distribution/Solver/Types/Settings.hs
  cabal-install/changelog
  cabal-install/solver-dsl/UnitTests/Distribution/Solver/Modular/DSL.hs
  cabal-install/tests/UnitTests/Distribution/Client/ProjectConfig.hs
  cabal-install/tests/UnitTests/Distribution/Client/TreeDiffInstances.hs
  cabal-install/tests/UnitTests/Distribution/Solver/Modular/DSL/TestCaseUtils.hs
  cabal-install/tests/UnitTests/Distribution/Solver/Modular/MemoryUsage.hs
  cabal-install/tests/UnitTests/Distribution/Solver/Modular/QuickCheck.hs
  cabal-install/tests/UnitTests/Distribution/Solver/Modular/Solver.hs
Labels: cabal-install: solver

#6476 Show full ABI hash for installed packages in solver log (fixes #5892).
  cabal-install/Distribution/Solver/Modular/Package.hs
  cabal-install/tests/UnitTests/Distribution/Solver/Modular/Solver.hs
  cabal-testsuite/PackageTests/Backpack/Includes2/setup-external.cabal.out
  cabal-testsuite/Test/Cabal/OutputNormalizer.hs
Labels: attention: needs-backport, cabal-install: solver

#6498 Show full ABI hash for installed packages in solver log (fixes #5892).
  cabal-install/Distribution/Solver/Modular/Package.hs
  cabal-install/tests/UnitTests/Distribution/Solver/Modular/Solver.hs
  cabal-testsuite/PackageTests/Backpack/Includes2/setup-external.cabal.out
  cabal-testsuite/Test/Cabal/OutputNormalizer.hs
Labels: attention: needs-backport, cabal-install: solver

#6501 Resolve #6479: Create distTempDirectory in withTempEnvFile
  cabal-install/Distribution/Client/CmdExec.hs
Labels: attention: needs-backport

#6499 Try to make test for 3324 more robust
  cabal-install/cabal-install.cabal.pp
  cabal-install/tests/IntegrationTests2.hs
Labels: attention: needs-backport
