Repository haskell/cabal, pull requests merged in 2020-04, with the labels that each got.

#6607 Default to cabal version 2.4 when running cabal init.
  cabal-install/Distribution/Client/Config.hs
Labels: cabal-install: cmd/init

#6624 Use default install directory if not specified.
  cabal-install/Distribution/Client/CmdInstall.hs
  cabal-install/Distribution/Client/Config.hs
Labels: cabal-install: cmd/install, type: enhancement

#6650 Split monolithic Init.hs module into 5 sub-modules.
  cabal-install/Distribution/Client/Init.hs
  cabal-install/Distribution/Client/Init/Command.hs
  cabal-install/Distribution/Client/Init/Defaults.hs
  cabal-install/Distribution/Client/Init/FileCreators.hs
  cabal-install/Distribution/Client/Init/Prompt.hs
  cabal-install/Distribution/Client/Init/Utils.hs
  cabal-install/cabal-install.cabal
  cabal-install/cabal-install.cabal.pp
Labels: cabal-install: cmd/init, type: refactor

#6661 Improve `cabal init` code a bit
  cabal-install/Distribution/Client/Config.hs
  cabal-install/Distribution/Client/Init/Command.hs
  cabal-install/Distribution/Client/Init/Defaults.hs
  cabal-install/Distribution/Client/Init/FileCreators.hs
  cabal-install/Distribution/Client/Init/Types.hs
  cabal-install/Distribution/Client/Setup.hs
  changelog.d/cabal-init
Labels: cabal-install: cmd/init, type: refactor

#6668 Add .readthedocs.yml config file and pin to Python v2.7.
  .readthedocs.yml
Labels: documentation

#6669 Create "Getting started" tutorial.
  Cabal/doc/getting-started.rst
  Cabal/doc/index.rst
Labels: documentation

#6677 Default to SPDX.NONE license in cabal init interactive mode.
  cabal-install/Distribution/Client/Init/Command.hs
Labels: cabal-install: cmd/init

#6676 Default cabal init application-dir to app, and source-dir to src.
  cabal-install/Distribution/Client/Config.hs
  cabal-install/Distribution/Client/Init/Command.hs
  cabal-install/Distribution/Client/Init/Defaults.hs
  cabal-install/Distribution/Client/Init/Prompt.hs
  changelog.d/cabal-init
Labels: cabal-install: cmd/init

#6678 Add FileCreators.generateCabalFile unit tests.
  cabal-install/Distribution/Client/Init/FileCreators.hs
  cabal-install/cabal-install.cabal.pp
  cabal-install/tests/UnitTests.hs
  cabal-install/tests/UnitTests/Distribution/Client/Init/FileCreators.hs
  tests/UnitTests/Distribution/Client/Init/goldens/generateCabalFile/exe-only.cabal
  tests/UnitTests/Distribution/Client/Init/goldens/generateCabalFile/lib-exe-and-test.cabal
  tests/fixtures/init/exe-only-golden.cabal
  tests/fixtures/init/lib-exe-and-test-golden.cabal
Labels: cabal-install: cmd/init, cabal-testsuite

#6690 Reduce cabal init field offset formatting by one space.
  cabal-install/Distribution/Client/Init/FileCreators.hs
  tests/fixtures/init/exe-only-golden.cabal
  tests/fixtures/init/lib-exe-and-test-golden.cabal
Labels: cabal-install: cmd/init

#6705 Add cabal init golden test exercising --libandexe behaviour.
  cabal-install/tests/UnitTests/Distribution/Client/Init/FileCreators.hs
  tests/fixtures/init/lib-and-exe-golden.cabal
Labels: cabal-install: cmd/init

#6723 Add cabal init golden test for cabal file with field comments.
  cabal-install/tests/UnitTests/Distribution/Client/Init/FileCreators.hs
  tests/fixtures/init/lib-exe-and-test-with-comments-golden.cabal
Labels: cabal-install: cmd/init, cabal-testsuite
