Repository haskell/cabal, pull requests merged in 2021-05, with the labels that each got.

#7397 Add regression test for #5782, which requires extending test harness to v2-install
  cabal-testsuite/PackageTests/Regression/T5782Diamond/cabal.out
  cabal-testsuite/PackageTests/Regression/T5782Diamond/cabal.project
  cabal-testsuite/PackageTests/Regression/T5782Diamond/cabal.test.hs
  cabal-testsuite/PackageTests/Regression/T5782Diamond/issue5782/Main.hs
  cabal-testsuite/PackageTests/Regression/T5782Diamond/issue5782/issue5782.cabal
  cabal-testsuite/PackageTests/Regression/T5782Diamond/issue5782/src/.gitkeep
  cabal-testsuite/src/Test/Cabal/Plan.hs
  cabal-testsuite/src/Test/Cabal/Prelude.hs
Labels: cabal-testsuite

#7276 Replace List with NonEmpty in TargetsMap
  cabal-install/cabal-install.cabal
  cabal-install/src/Distribution/Client/CmdInstall.hs
  cabal-install/src/Distribution/Client/CmdListBin.hs
  cabal-install/src/Distribution/Client/CmdRepl.hs
  cabal-install/src/Distribution/Client/CmdRun.hs
  cabal-install/src/Distribution/Client/ProjectOrchestration.hs
  cabal-install/src/Distribution/Client/ProjectPlanning.hs
  cabal-install/tests/UnitTests.hs
  cabal-install/tests/UnitTests/Distribution/Client/ProjectPlanning.hs
Labels: type: refactor

#7344 Cabal Init Omnibus
  Cabal/src/Distribution/Fields/Pretty.hs
  Cabal/src/Distribution/Simple/Test/ExeV10.hs
  Cabal/src/Distribution/Simple/Test/LibV09.hs
  cabal-install/cabal-install.cabal
  cabal-install/main/Main.hs
  cabal-install/src/Distribution/Client/Config.hs
  cabal-install/src/Distribution/Client/GenBounds.hs
  cabal-install/src/Distribution/Client/Init.hs
  cabal-install/src/Distribution/Client/Init/Command.hs
  cabal-install/src/Distribution/Client/Init/Defaults.hs
  cabal-install/src/Distribution/Client/Init/FileCreators.hs
  cabal-install/src/Distribution/Client/Init/FlagExtractors.hs
  cabal-install/src/Distribution/Client/Init/Format.hs
  cabal-install/src/Distribution/Client/Init/Heuristics.hs
  cabal-install/src/Distribution/Client/Init/Interactive/Command.hs
  cabal-install/src/Distribution/Client/Init/NonInteractive/Command.hs
  cabal-install/src/Distribution/Client/Init/NonInteractive/Heuristics.hs
  cabal-install/src/Distribution/Client/Init/Prompt.hs
  cabal-install/src/Distribution/Client/Init/Simple.hs
  cabal-install/src/Distribution/Client/Init/Types.hs
  cabal-install/src/Distribution/Client/Init/Utils.hs
  cabal-install/src/Distribution/Client/ProjectPlanning.hs
  cabal-install/src/Distribution/Client/Setup.hs
  cabal-install/src/Distribution/Client/Utils.hs
  cabal-install/tests/UnitTests.hs
  cabal-install/tests/UnitTests/Distribution/Client/Init.hs
  cabal-install/tests/UnitTests/Distribution/Client/Init/Golden.hs
  cabal-install/tests/UnitTests/Distribution/Client/Init/Interactive.hs
  cabal-install/tests/UnitTests/Distribution/Client/Init/NonInteractive.hs
  cabal-install/tests/UnitTests/Distribution/Client/Init/Simple.hs
  cabal-install/tests/UnitTests/Distribution/Client/Init/Utils.hs
  cabal-install/tests/fixtures/init/exe-only-golden.cabal
  cabal-install/tests/fixtures/init/golden/cabal/cabal-lib-and-exe-no-comments.golden
  cabal-install/tests/fixtures/init/golden/cabal/cabal-lib-and-exe-with-comments.golden
  cabal-install/tests/fixtures/init/golden/cabal/cabal-lib-no-comments.golden
  cabal-install/tests/fixtures/init/golden/cabal/cabal-lib-with-comments.golden
  cabal-install/tests/fixtures/init/golden/exe/exe-build-tools-with-comments.golden
  cabal-install/tests/fixtures/init/golden/exe/exe-minimal-no-comments.golden
  cabal-install/tests/fixtures/init/golden/exe/exe-simple-minimal-with-comments.golden
  cabal-install/tests/fixtures/init/golden/exe/exe-with-comments.golden
  cabal-install/tests/fixtures/init/golden/exe/exe.golden
  cabal-install/tests/fixtures/init/golden/lib/lib-build-tools-with-comments.golden
  cabal-install/tests/fixtures/init/golden/lib/lib-minimal-no-comments.golden
  cabal-install/tests/fixtures/init/golden/lib/lib-simple-minimal-with-comments.golden
  cabal-install/tests/fixtures/init/golden/lib/lib-simple.golden
  cabal-install/tests/fixtures/init/golden/lib/lib-with-comments.golden
  cabal-install/tests/fixtures/init/golden/lib/lib.golden
  cabal-install/tests/fixtures/init/golden/pkg-desc/pkg-old-cabal-with-flags.golden
  cabal-install/tests/fixtures/init/golden/pkg-desc/pkg-with-comments.golden
  cabal-install/tests/fixtures/init/golden/pkg-desc/pkg-with-flags.golden
  cabal-install/tests/fixtures/init/golden/pkg-desc/pkg.golden
  cabal-install/tests/fixtures/init/golden/test/test-build-tools-with-comments.golden
  cabal-install/tests/fixtures/init/golden/test/test-minimal-no-comments.golden
  cabal-install/tests/fixtures/init/golden/test/test-simple-minimal-with-comments.golden
  cabal-install/tests/fixtures/init/golden/test/test-with-comments.golden
  cabal-install/tests/fixtures/init/golden/test/test.golden
  cabal-install/tests/fixtures/init/lib-and-exe-golden.cabal
  cabal-install/tests/fixtures/init/lib-exe-and-test-golden.cabal
  cabal.project
  changelog.d/pr-7344
Labels: cabal-install: cmd/init, cabal-install: tests/unit-tests, type: enhancement

#7414 Explain why an older cabal-version is used
  doc/getting-started.rst
Labels: documentation
